.serveses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    gap: 30px;
    color: var(--secondary-color);
    & .myservese {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        & a {
            height: 100%;
            max-width: 300px;
            border-radius: 10px;
            text-decoration: none;
            display: flex;
            color: var(--secondary-color);
            flex-direction: column;
            transition: 0.5s;
            padding: 30px;
            border: 0.5px solid var(--secondary-color);
            letter-spacing: 0.05rem;
            gap: 10px;
            & img {
                height: 5rem;
                width: 4rem;
                padding-bottom: 1rem;
            }
            & span {
                font-weight: 400;
                font-size: 1rem;
            }
        }
        & a:hover {
            background-color: rgba(255, 115, 0, 0.295);
            box-shadow: 5px 5px 0px var(--info-color);
            transform: translateY(-5px);
        }
    }
}

@media (max-width:900px) {
    .serveses {
        & .myservese {
            flex-direction: column;
            & a {
                width: 100%;
            }
        }
    }
}